@model List<BookStore.Models.CartItem>
<div class="cart">
    <p>
        Chào mừng bạn đến với Book Store! <span>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm
        </div>
    </p>
</div>